<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ScooterApp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<p id="hello-text"><b>Ktora hulajnego chcesz wyciagnac z bazy?</b></p>
<a href="/allScooter" class="button">Pełna lista hulajnog</a><br><br>
<form method ="post">
    <input type ="text" placeholder="Id" name="id" th:field="*{getScooterKey.id}">
    <input type ="submit" value="OK">
</form>
</body>
</html>