<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScooterApp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body style="margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden">
<div style="position: absolute; z-index: 2; width: 100%; height: 100%; overflow: auto">
    <div style="margin: 10px">
        <center><p id="hello-text"><b>Witaj  w ScooterApp :D</b></p></center>
    <a href="/addScooter" class="button">1.Dodaj do bazy</a><br><br>
    <a href="/getScooter" class="button">2.Wyciagnij z bazy</a><br><br>
    <a href="/removeScooterId" class="button">3.Usuniecie z bazy</a><br><br>
    <a href="/updateScooter" class="button">4.Aktualizacja bazy</a><br><br>
    <a href="/allScooter" class="button">5.Pełna lista hulajnog</a><br><br>
    <a href="/allScooterXiomi" class="button">6.Lista hulajnog Xiaomi</a><br><br>
    <a href="/allScooterFiat" class="button">7.Lista hulajnog Fiat</a><br><br>
    </div>
</div>
    <div><img src="https://i.ytimg.com/vi/WQFVwxjV_9g/maxresdefault.jpg" alt="tlo"
              style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1"
    /></div>
</body>
</html>