<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScooterApp</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <p id="hello-text"><b>Witaj  w ScooterApp :D</b></p>
    <a href="/addScooter" class="button">1.Dodaj do bazy</a><br><br>
    <a href="/getScooter" class="button">2.Wyciagnij z bazy</a><br><br>
    <a href="/removeScooterId" class="button">3.Usuniecie z bazy</a><br><br>
    <a href="/updateScooter" class="button">4.Aktualizacja bazy</a><br><br>
    <a href="/allScooter" class="button">5.Pełna lista hulajnog</a><br><br>
    <a href="/allScooterXiomi" class="button">6.Lista hulajnog Xiaomi</a><br><br>
    <a href="/allScooterFiat" class="button">7.Lista hulajnog Fiat</a><br><br>
</body>
</html>